@inherits DeviceBase
@implements IDisposable

<DeviceTitle Title="@Name" ImageSource="images/devices/MiTempHumSensor.jpg" />
<Div>
    @Device.Temperature&#x2103; @Device.Humidity%
</Div>

@code {
    [Parameter]
    public ZigbeeLib.Devices.Xiaomi.ThSensor Device { get; set; }

    protected override void OnInitialized()
    {
        Device.OnTemperatureChange += OnChange;
        Device.OnHumidityChange += OnChange;
    }

    public void Dispose()
    {
        Device.OnTemperatureChange -= OnChange;
        Device.OnHumidityChange -= OnChange;
    }

    private void OnChange(object _, EventArgs e)
    {
        UpdateState();
    }
}
