@inherits DeviceBase
@implements IDisposable

<DeviceTitle Title="@Name" ImageSource="images/devices/MiMotionSensor.jpg" />
@if (motionTime != null)
{
    <Div>
        motion
    </Div>
}
<DeviceEventTime EventTime="motionTime" />

@code {
    [Parameter]
    public MiHomeLib.Devices.MotionSensor Device { get; set; }

    DateTime? motionTime;

    protected override void OnInitialized()
    {
        Device.OnMotion += OnMotion;
    }

    public void Dispose()
    {
        Device.OnMotion -= OnMotion;
    }

    private void OnMotion(object _, EventArgs e)
    {
        motionTime = DateTime.Now;
        UpdateState();
    }
}
