@using System.Timers

@inherits DeviceBase
@implements IDisposable

<DeviceTitle Title="@Name" ImageSource="images/devices/Shelly1.png" />
@if (status)
{
    <Blazorise.Text Alignment="TextAlignment.Center">
        <b>ON</b>
    </Blazorise.Text>
}
else
{
    <Blazorise.Text Alignment="TextAlignment.Center">
        OFF
    </Blazorise.Text>
}
<Button Color="Color.Danger" IsOutline="true" Margin="Margin.Is1.OnY" Clicked="Toggle">Toggle</Button>

@code {
    [Parameter]
    public HomeCenter.Http.ShellyRelay Device { get; set; }

    bool status;
    Timer timer = new Timer(5000);

    protected override void OnInitialized()
    {
        status = Device.Status();

        timer.Elapsed += OnTimer;
        timer.Enabled = true;
    }

    public void Dispose()
    {
        timer.Elapsed -= OnTimer;
        timer.Enabled = false;
    }

    private void OnTimer(object _, EventArgs e)
    {
        var newStatus = Device.Status();
        if (status != newStatus)
        {
            status = newStatus;
            UpdateState();
        }
    }

    private void Toggle()
    {
        status = !status;
        if (status)
        {
            Device.TurnOn();
        }
        else
        {
            Device.TurnOff();
        }
    }
}
