@page "/config"

@inherits PageBase
@inject AutomationService AutomationService
@inject ConfigService ConfigService

<Heading Size="HeadingSize.Is1">Configuration @(ConfigService.IsModified ? "*" : "")</Heading>

@if (AutomationService.IsBusy)
{
    <Paragraph>Pending...</Paragraph>
    return;
}

<Button Color="Color.Primary" Margin="Margin.Is1.FromBottom" Clicked="ApplyConfig">Apply</Button>

<Tabs SelectedTab="hardware">
    <Items>
        <Tab Name="hardware">Hardware</Tab>
        <Tab Name="home">Home</Tab>
        <Tab Name="automation">Automation</Tab>
    </Items>
    <Content>
        <TabPanel Name="hardware">
            <ConfigFileEditor FileName="hardware.yml" FileSaved="UpdateState" />
        </TabPanel>
        <TabPanel Name="home">
            <ConfigFileEditor FileName="home.yml" FileSaved="UpdateState" />
        </TabPanel>
        <TabPanel Name="automation">
            <ConfigFileEditor FileName="automation.yml" FileSaved="UpdateState" />
        </TabPanel>
    </Content>
</Tabs>

@code {
    private async Task ApplyConfig()
    {
        if (ConfigService.IsModified)
        {
            if (AutomationService.IsStarted)
            {
                await AutomationService.StopAsync();
                await AutomationService.StartAsync();
            }
            ConfigService.IsModified = false;
        }
    }
}
